*{
    margin: 0;
    padding: 0;

}
body{
    font-family: sans-serif;
    width: 100%;
    padding-top:15vh;

}
.product_card{
    background-color: #eff0f0;
    border-radius: 20px;
    padding: 50px 0;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.product_card_img{
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_card_img img{
    height: 50vh;
    border-radius: 20px;
}
.product_card_details{
    width: 48%;
    padding: 5px;
}
.product_card_details_tittle{
    font-size: 1.7rem;
    margin: 1vh 0;
}
.product_card_rate{
    margin: 1vh 0;
}
.product_card_rate .fa-star {
    color: rgb(218, 218, 27);
}
.product_card_detail{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 3vh 0 1vh 0 ;
}
.product_card_detail_plus{
    color: #444;
    margin-bottom: 3vh;
    width: 25vw;
    line-height: 25px;

}
.buy{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content:left;
}
.buy_bt{
    background: none;
    margin: 0 10px;
    padding: 7px;
    border: 1px solid  #111;
    border-radius: 15px;
    outline: none;
}
.buy_bt:hover{
    cursor: pointer;
    background-color: #fff;
    border: 2px solid  #111;
    font-weight: bold;

}
.buy i {
    font-size: 1.5rem;
}