*{
    margin: 0;
}
body{
    background-color: #87314e;
    color: white;
    font-family: sans-serif;
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}
.product{
    margin: 2rem;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product_tittle{
    margin: 1rem 0;
}
.product_details{
    text-align: center;
    color: rgb(228, 209, 209);
}
.product_img{
    border-radius: 18px;
    height: 200px;
    margin: 1rem 0;
    cursor: pointer;
}
.btn{
    cursor: pointer;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
}
.btn:hover{
    background: #fff;
    color: #87314e;
    transition: 0.5s;
}